*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}   
    
body{
    background:linear-gradient( 90deg,#e39b14,#fff,green);
}
.container {
    min-width: 1000px;
    height: 140vh;
    margin: 0px 120px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 120px 585px 358px 405px;
    z-index: -1;
}

.item {
    border: 1px solid #111;
    margin: 5px 15px;
    border-radius: 10px;
}

.grid-item:nth-of-type(1){
    margin-top: 80px;
}

.grid-item:nth-of-type(1){
    grid-column: 1;
    grid-row: 1 / span 3;
    height: 370px;
    background: #fff;
}

.grid-item:nth-of-type(1) > .h1{
  background:linear-gradient(90deg,#aebdbc,#ddebea);
  height: 60px;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
}

.grid-item:nth-of-type(1) > .h1 > .name1 > .fa-duotone{
    background-color:darkorange;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    width:92px ;
    height: 92px;
    text-align:center;
    margin-top: 8%;
    margin-left: 32%;
    padding-top: 28px;
}

.grid-item:nth-of-type(1) > a{
    margin-left: 80px;
    text-decoration: none;
    color: black; 
    font-size: 20px;
}

.grid-item:nth-of-type(1) > p{
    text-align: center;
    margin-right: 18px;
}
  
.grid-item:nth-of-type(1) > #hr1{
    opacity: 0.3;
    margin-top: 35px;
}


.grid-item:nth-of-type(1) > .div1{
   height: 50px;
   display:flex;
   justify-content: space-between;
}

.grid-item:nth-of-type(1) > .div1:hover{
    background: rgb(236, 233, 233); 
}

.grid-item:nth-of-type(1) > .div1 > .lt > a{
    text-decoration: none;
    color: #111;
    margin-left: 15px;
}

.grid-item:nth-of-type(1) > .div1 > .lt > a > #sp{
    opacity: 0.5;
    font-size: 13px;
}

 .grid-item:nth-of-type(1) > .div1 >.rt >a{
    color: #111;
    margin-right: 13px;
}  


.grid-item:nth-of-type(1) > #hr2{
    opacity: 0.3;
    margin-top: 0px;
}

.grid-item:nth-of-type(1) > .div2{
     height: 50px;
}

.grid-item:nth-of-type(1) > .div2:hover{
    background: rgb(236, 233, 233); 
}

.grid-item:nth-of-type(1) > .div2 > a{
    text-decoration: none;
    color: #111;
}

.grid-item:nth-of-type(1) > .div2 > a > #spp{
    opacity: 0.5;
    font-size: 13px;
}

.grid-item:nth-of-type(1) > .div2 > a > #spp, .spp{
    margin-left: 15px;
}

.grid-item:nth-of-type(1) > #hr3{
    opacity: 0.3;
    margin-top: 0px;
}

.grid-item:nth-of-type(1) > .div3{
    height: 52px;
    border-bottom-left-radius:8px ;
    border-bottom-right-radius:8px ;
}

.grid-item:nth-of-type(1) > .div3:hover{
    background: rgb(236, 233, 233);
}

.grid-item:nth-of-type(1) > .div3 > a{
    text-decoration: none;
    color: #111;
}

.grid-item:nth-of-type(1) > .div3 > a{
    margin-left: 15px;
}

.grid-item:nth-of-type(2){
    padding-top: 0;
    margin-top:-245px;
    height: 150px;
    grid-row: 3;
    grid-column: 1;
    background: #fff;
    position: sticky;
    top: 55px;
}

.grid-item:nth-of-type(2) > .div1{
    display: flex;
    justify-content: space-between;
}

.grid-item:nth-of-type(2) > .div1 > .a3{
    margin-right: 15px;
    color: #111;
    font-size: 35px;
}


.grid-item:nth-of-type(2) > .div1 > .a2{
    margin-left: 15px;
    text-decoration: none;
    margin-top: 10px;
} 

.grid-item:nth-of-type(2) > .a1, .a4{
    text-decoration: none;
    margin-left: 15px;
}

.grid-item:nth-of-type(2) > .hr1{
    margin-top: 10px;
}

.grid-item:nth-of-type(2) > .div2{
    height: 40px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.grid-item:nth-of-type(2) > .div2 > .a5{
    text-decoration: none;
    opacity: 0.5;
    margin-left: 65px;
}

.grid-item:nth-of-type(2) > .div2:hover{
    background: rgb(236, 233, 233);
}

.grid-item:nth-of-type(3){
    background: #fff;
    margin-top: 80px;
    height: 120px;
}

.grid-item:nth-of-type(3) > .h3{
    display: flex;
    margin-top:10px;
}  

.grid-item:nth-of-type(3) > .h3 > .name2 > .fa-duotone{
    background-color:darkorange;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    width:52px ;
    height: 52px;
    text-align: center;
    padding-top: 17px;
    margin-left: 10px;  
}

.grid-item:nth-of-type(3) > .h3 > #start{
    padding: 10px;
    margin-left: 5px;
    margin-top: 8px;
    border-radius: 20px;
}

.grid-item:nth-of-type(3) > .f3{
    display: flex;
    justify-content: space-evenly;
    margin-top:18px ;
    height: 28px;
}

.grid-item:nth-of-type(3) > .f3 > a{
    text-decoration: none;
    color:#111;
    opacity: 0.5;
}

.grid-item:nth-of-type(3) > .f3 > a:hover{
    background-color: lightgrey;
}


.grid-item:nth-of-type(4){
    grid-row: 2;
    background: #fff;
    padding-top: 0px;
    margin-top: 90px;
}

.grid-item:nth-of-type(4) > header{
    display: flex;
}

.grid-item:nth-of-type(4) > header > h2{
    margin-top: 20px;
}

.grid-item:nth-of-type(4) > header > h2 > span{
    opacity: 0.5;
    font-size: 15px;
}

.grid-item:nth-of-type(4) > header > .-img{
    width: 100px;
    height: 87px;
    margin-top: 0;
    margin-left: 5px;
}

.grid-item:nth-of-type(4) > img{
    width: 559px;
    height: 350px;
    margin-top: 0px;
}

.grid-item:nth-of-type(4) > .f4{
    height: 35px;
    display:flex;
    justify-content: space-evenly;
    margin-top: 10px;
    border-top: 1px solid#111;
    box-shadow:2px 4px 8px #111;
    border-bottom-left-radius:5px ;
    border-bottom-right-radius:5px ;
}

.grid-item:nth-of-type(4) > .f4 > a{
    text-decoration: none;
    color: #111;
    opacity: 0.6;
    margin-top: 10px;
}
.grid-item:nth-of-type(4) > .f4 > a:hover{
     background-color: lightgrey; 
}


.grid-item:nth-of-type(5){
    grid-row: 3;
    background: #fff;
    margin-top: 10px;
}

.grid-item:nth-of-type(5) > .h5{
    display: flex;
    margin-left: 15px;
}

.grid-item:nth-of-type(5) > .h5 > img{
     width: 60px;
}

.grid-item:nth-of-type(5) > .h5 > h2{
    margin-top: 15px;
}

.grid-item:nth-of-type(5) > img{
   width: 559px;
   height: 230px;
}

.grid-item:nth-of-type(5) > .f5{
    height: 35px;
    display:flex;
    justify-content: space-evenly;
    margin-top: 10px;
    border-top: 1px solid#111;
    box-shadow:2px 4px 8px #111;
    border-bottom-left-radius:8px ;
    border-bottom-right-radius:8px ;
}

.grid-item:nth-of-type(5) > .f5 > a{
    text-decoration: none;
    color: #111;
    opacity: 0.6;
    margin-top: 10px;
}
.grid-item:nth-of-type(5) > .f5 > a:hover{
     background-color: lightgrey; 
}

.grid-item:nth-of-type(6){
    grid-row: 4;
    grid-column: 2;
    background: #fff;
    margin-top: 10px;
}

.grid-item:nth-of-type(6) > iframe{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.grid-item:nth-of-type(6) > .f6{
    height: 35px;
    display:flex;
    justify-content: space-evenly;
    margin-top: 10px;
    border-top: 1px solid#111;
    box-shadow:2px 4px 8px #111;
    border-bottom-left-radius:8px ;
    border-bottom-right-radius:8px ;
}

.grid-item:nth-of-type(6) > .f6 > a{
    text-decoration: none;
    color: #111;
    opacity: 0.6;
    margin-top: 10px;
}
.grid-item:nth-of-type(6) > .f6 > a:hover{
     background-color: lightgrey; 
}


.grid-item:nth-of-type(7){
    grid-row: 1 / span 2;
    height: 510px;
    width: 320px;
    background: #fff;
    margin-top: 80px;
}

.grid-item:nth-of-type(7) > p{
    font-size: 22px;
    margin-top: 12px;
}

.grid-item:nth-of-type(7) > .div1 > a{
    text-decoration: none;
}

.grid-item:nth-of-type(7) > .div1 > a > .u1 > #l1{
    font-size: 17px;
    margin-left: 22px;
    margin-top: 15px;
    color: #111;
} 

.grid-item:nth-of-type(7) > .div1 > a > .u1 > .u2{
    display: flex;
    justify-content: space-between;
    list-style-type:none;
    font-size: 13px;
    opacity: 0.5;
}

.grid-item:nth-of-type(7) > .div1 > a > .u1 > .u2  >#l3{
    list-style-type: disc;
    margin-right: 140px;
    color: #111;
}

.grid-item:nth-of-type(7) > .div1 > a > .u1 > .u2 > #l2{
    margin-left: 22px;
    color: #111;
}

.grid-item:nth-of-type(7) > .div1:hover{
    background: rgb(236, 233, 233); 
    height: 50px;   
}

.grid-item:nth-of-type(7) > .div2 > a{
    text-decoration: none;
}

.grid-item:nth-of-type(7) > .div2 > a > .u1 > #l1{
    font-size: 17px;
    margin-left: 22px;
    margin-top: 15px;
    color: #111;
} 

.grid-item:nth-of-type(7) > .div2 > a > .u1 > .u2{
    display: flex;
    justify-content: space-between;
    list-style-type:none;
    font-size: 13px;
    opacity: 0.5;
}

.grid-item:nth-of-type(7) > .div2 > a > .u1 > .u2  >#l3{
    list-style-type: disc;
    margin-right: 170px;
    color: #111;
}

.grid-item:nth-of-type(7) > .div2 > a > .u1 > .u2 > #l2{
    margin-left: 22px;
    color: #111;
}

.grid-item:nth-of-type(7) > .div2:hover{
    background: rgb(236, 233, 233); 
    height: 50px;   
}

.grid-item:nth-of-type(7) > .div3 > a{
    text-decoration: none;
}

.grid-item:nth-of-type(7) > .div3 > a > .u1 > #l1{
    font-size: 17px;
    margin-left: 22px;
    margin-top: 15px;
    color: #111;
} 

.grid-item:nth-of-type(7) > .div3 > a > .u1 > .u2{
    display: flex;
    justify-content: space-between;
    list-style-type:none;
    font-size: 13px;
    opacity: 0.5;
}

.grid-item:nth-of-type(7) > .div3 > a > .u1 > .u2  >#l3{
    list-style-type: disc;
    margin-right: 140px;
    color: #111;
}

.grid-item:nth-of-type(7) > .div3 > a > .u1 > .u2 > #l2{
    margin-left: 22px;
    color: #111;
}

.grid-item:nth-of-type(7) > .div3:hover{
    background: rgb(236, 233, 233); 
    height: 50px;   
}

.grid-item:nth-of-type(7) > .div4 > a{
    text-decoration: none;
}

.grid-item:nth-of-type(7) > .div4 > a > .u1 > #l1{
    font-size: 17px;
    margin-left: 22px;
    margin-top: 15px;
    color: #111;
} 

.grid-item:nth-of-type(7) > .div4 > a > .u1 > .u2{
    display: flex;
    justify-content: space-between;
    list-style-type:none;
    font-size: 13px;
    opacity: 0.5;
}

.grid-item:nth-of-type(7) > .div4 > a > .u1 > .u2  >#l3{
    list-style-type: disc;
    margin-right: 140px;
    color: #111;
}

.grid-item:nth-of-type(7) > .div4 > a > .u1 > .u2 > #l2{
    margin-left: 22px;
    color: #111;
}

.grid-item:nth-of-type(7) > .div4:hover{
    background: rgb(236, 233, 233); 
    height: 50px;   
}

.grid-item:nth-of-type(7) > .div5 > a{
    text-decoration: none;
}

.grid-item:nth-of-type(7) > .div5 > a > .u1 > #l1{
    font-size: 17px;
    margin-left: 22px;
    margin-top: 15px;
    color: #111;
} 

.grid-item:nth-of-type(7) > .div5 > a > .u1 > .u2{
    display: flex;
    justify-content: space-between;
    list-style-type:none;
    font-size: 13px;
    opacity: 0.5;
}

.grid-item:nth-of-type(7) > .div5 > a > .u1 > .u2  >#l3{
    list-style-type: disc;
    margin-right: 140px;
    color: #111;
}

.grid-item:nth-of-type(7) > .div5 > a > .u1 > .u2 > #l2{
    margin-left: 22px;
    color: #111;
}

.grid-item:nth-of-type(7) > .div5:hover{
    background: rgb(236, 233, 233); 
    height: 50px;   
}

.grid-item:nth-of-type(7) > .div6 > a{
    text-decoration: none;
}

.grid-item:nth-of-type(7) > .div6 > a > .u1 > #l1{
    font-size: 17px;
    margin-left: 22px;
    margin-top: 15px;
    color: #111;
} 

.grid-item:nth-of-type(7) > .div6 > a > .u1 > .u2{
    display: flex;
    justify-content: space-between;
    list-style-type:none;
    font-size: 13px;
    opacity: 0.5;
}

.grid-item:nth-of-type(7) > .div6 > a > .u1 > .u2  >#l3{
    list-style-type: disc;
    margin-right: 130px;
    color: #111;
}

.grid-item:nth-of-type(7) > .div6 > a > .u1 > .u2 > #l2{
    margin-left: 22px;
    color: #111;
}

.grid-item:nth-of-type(7) > .div6:hover{
    background: rgb(236, 233, 233); 
    height: 50px;   
}

.grid-item:nth-of-type(7) > .div7 > a{
    text-decoration: none;
}

.grid-item:nth-of-type(7) > .div7 > a > .u1 > #l1{
    font-size: 17px;
    margin-left: 22px;
    margin-top: 15px;
    color: #111;
} 

.grid-item:nth-of-type(7) > .div7 > a > .u1 > .u2{
    display: flex;
    justify-content: space-between;
    list-style-type:none;
    font-size: 13px;
    opacity: 0.5;
}

.grid-item:nth-of-type(7) > .div7 > a > .u1 > .u2  >#l3{
    list-style-type: disc;
    margin-right: 140px;
    color: #111;
}

.grid-item:nth-of-type(7) > .div7 > a > .u1 > .u2 > #l2{
    margin-left: 22px;
    color: #111;
}

.grid-item:nth-of-type(7) > .div7:hover{
    background: rgb(236, 233, 233); 
    height: 50px;   
}

.grid-item:nth-of-type(7) > .div8 > a{
    text-decoration: none;
}

.grid-item:nth-of-type(7) > .div8 > a > .u1 > #l1{
    font-size: 17px;
    margin-left: 22px;
    margin-top: 15px;
    color: #111;
} 

.grid-item:nth-of-type(7) > .div8 > a > .u1 > .u2{
    display: flex;
    justify-content: space-between;
    list-style-type:none;
    font-size: 13px;
    opacity: 0.5;
}

.grid-item:nth-of-type(7) > .div8 > a > .u1 > .u2  >#l3{
    list-style-type: disc;
    margin-right: 140px;
    color: #111;
}

.grid-item:nth-of-type(7) > .div8 > a > .u1 > .u2 > #l2{
    margin-left: 22px;
    color: #111;
}

.grid-item:nth-of-type(7) > .div8:hover{
    background: rgb(236, 233, 233); 
    height: 50px;   
}

.grid-item:nth-of-type(7) > .div9 > a{
    text-decoration: none;
}

.grid-item:nth-of-type(7) > .div9 > a > .u1 > #l1{
    font-size: 17px;
    margin-left: 22px;
    margin-top: 15px;
    color: #111;
} 

.grid-item:nth-of-type(7) > .div9 > a > .u1 > .u2{
    display: flex;
    justify-content: space-between;
    list-style-type:none;
    font-size: 13px;
    opacity: 0.5;
}

.grid-item:nth-of-type(7) > .div9 > a > .u1 > .u2  >#l3{
    list-style-type: disc;
    margin-right: 140px;
    color: #111;
}

.grid-item:nth-of-type(7) > .div9 > a > .u1 > .u2 > #l2{
    margin-left: 22px;
    color: #111;
}

.grid-item:nth-of-type(7) > .div9:hover{
    background: rgb(236, 233, 233); 
    height: 50px;   
}


.grid-item:nth-of-type(8){
    padding-top: 0;
    margin-top: -105px;
    height: 300px;
    width: 320px;
    background: #fff;
    position: sticky;
    top:65px;
}

.grid-item:nth-of-type(8) > .fa-duotone{
    background-color:darkorange;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    width:92px ;
    height: 92px;
    text-align:center;
    margin-top: 5%;
    margin-left: 32%;
    padding-top: 28px;
}

.grid-item:nth-of-type(8) > p{
    font-size: 12px;
    margin-top: 25px;
    opacity: 0.5;
    margin-left: 10px;
}

.grid-item:nth-of-type(8) > h5{
    margin-top: 20px;
    opacity: 0.5;
    margin-left: 10px;
}

.grid-item:nth-of-type(8) > h5 > span{
    font-size: 15px;
    margin-left: 10px;
}

.grid-item:nth-of-type(8) > button{
    margin-top: 20px;
    margin-left: 85px;
    width: 90px;
    height: 35px;
    border-radius: 50px;
    font-size: 15px;
}

.grid-item:nth-of-type(8) > button > a{
    text-decoration: none;
}
  
.grid-item:nth-of-type(8) > button:hover{
    background: rgb(223, 219, 219); 
}

.grid-item:nth-of-type(8) > img{
    width: 65px;
    margin-top: 20px;
    margin-left: 15px;
}

.grid-item:nth-of-type(8) > span{
    opacity: 0.5;
}
